#nav{
    height: 200px;
}
#nav ul{
    margin:0;
    flex-direction: column;
    display: none;
 }
 #DS{
    font-size:1rem;
 }
 #DBMS{
     height: 300px;
 }
 #DBMS::before{
     height: 290px;
 }
 /*
#ul1{
    margin-top: 20px;
} */
#PS::before{
    opacity: 0.7;
}
#ETC::before{
    opacity: 0.8;
}
#IC::before{
    opacity: 0.7;
}